# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Cmake build directories
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
CTestingfile.cmake
Testing/

#FetchContent dependencencies
_deps/

# IDE specific. files
.vscode/
*.code-workspace
.idea/
*.swp
*.swo
*~
.DS_Store

# Test results
*.log
test_results/
*/xml

# Docker
.dickerignore
*.Tar